.headerContainer {
  height: 10vh;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  margin-left: 4%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(15, 15, 15);
}
.headerContainer>a>div>span {
  font-weight: 700;
  font-size: x-large;
}
