.videoContainer {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin: 10% auto;

}

.videoBox {
    width: 80%;
    height: 30vh;
}

.videoBox>a {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.5%;
}
.videoBox>a>div {
    width: 65%;
}

.videoBox>a>img {
    width: 33%;
    height: 28vh;
    border-radius: 20px;
    transition: 1s;
}

.videoBox>a>img:hover {
    transition: 1s;
    border-radius: 0px;
}

.channelInfo {

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    font-size: small;
    color: grey;
    margin: 10px 0px;
}

.channelInfo>img {
    margin-top: -3px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
@media (max-width: 1000px) {
    .videoContainer {
        margin-top: 15%;
    }
}

@media (max-width: 800px) {
    .videoContainer {
        margin: 20% auto;
        width: 100%;
    }

    .videoBox {
        width: 90%;
        height: 28vh;
        overflow: hidden;

    }

    .videoBox>a>img {
        width: 35%;
        height: 20vh;
        border-radius: 20px;
        transition: 1s;
    }

    .videoBox>a>div>p {
        display: none;
    }

}