.searchContainer {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px auto;
}
.searchBox {
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchBox > input {
  padding: 10px;
  width: 55vh;
  height: 5vh;
  background-color: rgb(46, 44, 44);
  color: white;
  border: 1px solid gray;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.searchBox > input:focus {
  border-color: rgb(66, 157, 209);
}

.searchBox > button {
  cursor: pointer;
  color: white;
  padding: 5px 15px;
  border: 1px solid gray;
  border-left: none;
  background-color: rgb(46, 44, 44);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.searchBox > *:last-child {
  width: 5%;
  height: 5%;
  padding: 5px;
  margin-left: 15px;
  border-radius: 50%;
  background-color: gray;
  cursor: pointer;
}
.searchBox > *:last-child:hover {
  background-color: rgb(195, 195, 201);
}
