.videoContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  flex-wrap: wrap;
  /* gap: 15px; */
  margin: 0px auto;
}

.videoBox {
  width: 100%;
  height: auto;

}

.videoBox>a {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5%;

}

.videoBox>a>div>img {
  width: 20vh;
  height: 15vh;
  border-radius: 20px;
  transition: 1s;
}



.videoBox>a>div>img:hover {
  transition: 1s;
  border-radius: 0px;
}

.chanelInfo {
  width: 60%;
  height: 12vh;
}

.chanelInfo div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}