.videoContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  flex-wrap: wrap;
  /* gap: 15px; */
  margin: 0px auto;
}

.videoBox {
  width: 100%;
  height: auto;
}

.videoBox>a {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5%;
}

.videoBox>a>div>img {
  width: 20vh;
  height: 15vh;
  border-radius: 10px;
  /* transition: 1s; */
}

/* .videoBox>a>div>img:hover {
  transition: 1s;
  border-radius: 0px;
}

*/
.chanelInfo {
  width: 60%;
  height: 12vh;
}

.chanelInfo div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.timeInfo {
  width: fit-content;
  background-color: rgb(49, 48, 48);
  border-radius: 5px;
  position: relative;
  bottom: 30px;
  left: 14vh;
  right: 0px;
}

@media (max-width: 1000px) {
  .timeInfo {
    left: 20vh;
    right: 0px;
    bottom: 25px;
    font-weight: 300;
    font-size: small;
  }

        .videoBox>a {
    gap: 2%;
  }

        .videoBox>a>div>img {
    width: 25vh;
    height: 15vh;
  }
        .chanelInfo {
          width: 40%;
        }
}