.videoContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 10px;
    margin: 8% 2%;
}
.videoBox {
    width: 30%;
      height: 40vh;
}
.videoBox > a > img {
  width: 100%;
  height: 28vh;
  border-radius: 20px;
  transition: 1s;
}
.videoBox>a>img:hover {
  transition: 1s;
  border-radius: 0px;
}
.chanelInfo {
    height: 12vh;
  display: flex;
  gap: 20px;

}
.chanelInfo div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.chanelInfo>img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.timeInfo {
  width: fit-content;
  background-color: rgb(49, 48, 48);
  border-radius: 5px;
  position: relative;
  bottom: 30px;
  left: 80%;
  padding: 2px;
}

@media(max-width:1090px) {
  .videoContainer {
    justify-content: center;
  }

  .videoBox {
    margin-top: 5%;
    width: 40%;
  }
}

@media(max-width:700px) {
  .videoContainer {
    margin-top: 18%;
  }

  .videoBox {
    margin: 5% auto;
    width: 70%;
    height: 36vh;
  }

  .videoBox>a>img {
    width: 100%;
    height: 25vh;
  }

  .timeInfo {
    left: 85%;
  }
}