.videoContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10% 2%;
}
.videoBox {
  width: 20%;
  height: 30vh;
}
.videoBox > a > img {
  width: 100%;
  height: 70%;
  border-radius: 20px;
}
